<h2>Lista de Pessoas</h2>



<ul>
  <li *ngFor="let pessoa of pessoas">
      {{pessoa}}
  </li>
</ul>

<input type="text" [(ngModel)] = "nome">
<button (click)="EnviarNome()">Enviar Nome</button>
<p> {{nome}} </p>

