<h2>ngFor </h2>
<!-- <ul *ngFor="let nome of nomes">
  <li>nome da pessoa é: {{nome}}</li>
</ul> -->

<!-- <ul *ngFor="let nome of nomes, let i = index">
  <li>nome da pessoa {{nome.nome}}, id {{nome.id}}, e esta na posição {{i + 1}}</li>
</ul> -->
<button (click)="atualizar()">Atualizar</button>
<ul *ngFor="let nome of nomes, let i = index, trackBy:meuSave">
  <li>nome da pessoa {{nome.nome}}, id {{nome.id}}, e esta na posição {{i + 1}}</li>
</ul>
